---
const { id, name } = Astro.props
---

<a
  class="boxer-card inline-block transition hover:-translate-y-3 w-10 sm:w-14 md:w-16 lg:w-24 xl:w-28 group relative"
  href={`/peleador/${id}`}
  data-id={id}
>
  <div class="relative flex items-center justify-center">
    <img
      class="aspect-[900/1200] rounded-b-lg"
      src={`images/fighters/cards/${id}.webp`} 
      alt={`Imagen del boxeador ${name}`}
    >
    <div class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t via-transparent to-transparent p-1 from-pink-900/90 opacity-0 group-hover:opacity-100 transition-opacity rounded-b-lg duration-100">
      <h3 class="absolute font-medium text-3xl text-theme-french-mauve">{name}</h3>
    </div>
  </div>
</a>

<script>
  const boxerCards = document.querySelectorAll('.boxer-card')
  console.log('hola')
  boxerCards.forEach((singleBoxerCard) => {
    singleBoxerCard.addEventListener('mouseover', () => {
      const id = singleBoxerCard.getAttribute('data-id')
      if (id){
        console.log('hola dentro del if')
        const event = new CustomEvent('boxer-card-hovered', { detail: {id} })
        document.dispatchEvent(event)
      }
    })
  })
</script>